.App {
  text-align: center;
}

div{
  text-align: center;
  margin-top: 50px;
}

button{
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 2px;
}

.inc-btn{
  background: green;
}
.inc-btn:hover{
  border: 1px solid green;
  border-radius: 5px;
  background: transparent;
  color: green;
  transition: .3s ease-in-out;
}
.dec-btn{
  background: red;
}
.dec-btn:hover{
  background: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  transition: .3s ease-in-out;
}